.team-arlington td   { background-color: #b2424e; }
.team-belmont td     { background-color: #649aff; }
.team-burlington td  { background-color: #a8f2be;}
.team-lexington td   { background-color: #fff7a3;}
.team-melrose td     { background-color: #ffb5b5; }
.team-reading td     { background-color: #a3fafa;}
.team-stoneham td    { background-color: #ffffff;}
.team-wakefield td   { background-color: #d1d1d1;}
.team-watertown td   { background-color: #61c88d;}
.team-wilmington td  { background-color: #8c4bf4;}
.team-winchester td  { background-color: #f4b0f8;}
.team-woburn td      { background-color: #ffb084;}