.team-arlington td   { background-color: #b2424e; }
.team-belmont td     { background-color: #649aff; }
.team-burlington td  { background-color: #a8f2be;}
.team-lexington td   { background-color: #fff7a3;}
.team-melrose td     { background-color: #ffb5b5; }
.team-reading td     { background-color: #a3fafa;}
.team-stoneham td    { background-color: #ffffff;}
.team-wakefield td   { background-color: #d1d1d1;}
.team-watertown td   { background-color: #61c88d;}
.team-wilmington td  { background-color: #8c4bf4;}
.team-winchester td  { background-color: #f4b0f8;}
.team-woburn td      { background-color: #ffb084;}
.team-concord-carlisle td   { background-color: #7fc7ff; }
.team-algonquin td          { background-color: #ffdf7f; }
.team-barnstable td         { background-color: #ffa3b1; }
.team-beverly td            { background-color: #f7b77e; }
.team-bridgewater-raynham-regional td { background-color: #b5a3ff; }
.team-chelmsford td         { background-color: #b9fca8; }
.team-diman td              { background-color: #ffb1f3; }
.team-durfee td             { background-color: #ffc580; }
.team-everett td            { background-color: #a5ffeb; }
.team-king-philip td        { background-color: #ffd1a9; }
.team-lincoln-sudbury td    { background-color: #b4e4ff; }
.team-marshfield td         { background-color: #d0b5ff; }
.team-natick td             { background-color: #ff9e9e; }
.team-north-andover td      { background-color: #ffcf9f; }
.team-north-quincy td       { background-color: #c0ffa8; }
.team-peabody td            { background-color: #a8c7ff; }
.team-plymouth-north td     { background-color: #e0a8ff; }
.team-springfield-central td{ background-color: #ffc7a8; }
.team-waltham td            { background-color: #b0fff5; }
.team-wellesley td          { background-color: #f5a8b0; }
.team-westford-academy td   { background-color: #f7f79e; }
.team-worcester-technical td{ background-color: #b0d7ff; }
.team-billerica td              { background-color: #a8d1ff; }
.team-notre-dame-academy td     { background-color: #ffe0a8; }
.team-bishop-feehan td          { background-color: #ffc4d6; }
.team-central-catholic td       { background-color: #c4ffd1; }
.team-milton td                 { background-color: #ffd5b5; }
.team-oliver-ames td            { background-color: #d5b5ff; }
.team-hopkinton td              { background-color: #b5ffe7; }
.team-newton-north td           { background-color: #ffd8c7; }
.team-needham td                { background-color: #c7e3ff; }
.team-wachusett-regional td     { background-color: #e7c7ff; }
.team-weymouth td               { background-color: #ffe3c7; }
.team-cambridge-rindge-and-latin td { background-color: #c7ffe3; }
.team-brookline td              { background-color: #ffd6e8; }
.team-newton-south td           { background-color: #d8ffc7; }
